{% load static %}
<div class="row no-gutter">
    <div class="col-sm-6">
        <div class="couple-location-photo">
            <a href="#vancouver">
                <img src="{% static 'bigday/images/vancouver.jpg' %}"
                     class="img-responsive"
                     alt="Clark and Anna in Canada"/>
                <div class="couple-location-photo-caption">
                    <div class="couple-location-photo-caption-content">
                        <div class="location-name">Vancouver</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="couple-location-photo">
            <a href="#viella">
                <img src="{% static 'bigday/images/viella.jpg' %}"
                     class="img-responsive"
                     alt="Clark and Anna in France"/>
                <div class="couple-location-photo-caption">
                    <div class="couple-location-photo-caption-content">
                        <div class="location-name">Viella</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
