<div class="container">
    <div class="row">
        <div class="col-lg-12 ">
            <h2 class="section-heading text-center">Vancouver</h2>
            <hr class="primary"/>
            <dl class="dl-horizontal lead">
                <dt>
                    What
                </dt>
                <dd>
                    Celebrate our marriage
                </dd>
                <dt>
                    When
                </dt>
                <dd>
                    Saturday, July 15
                </dd>
                <dt>
                    Where
                </dt>
                <dd>
                    <address>
                        Burnaby Village Museum
                        <br/>
                        <a href="https://g.page/burnabyvillage?share">6501 Deer Lake Ave, Burnaby, BC,Canada</a>
                        <br/>
                    </address>
                </dd>
                <dt>
                    Attire
                </dt>
                <dd>
                    Dressy Casual
                </dd>
                <dt>
                    Transportation
                </dt>
                <dd>
                    Transportation is not provided. Please plan responsibly.
                </dd>
                <dt>
                    Parking
                </dt>
                <dd>
                    Free parking is available onsite
                </dd>
            </dl>
        </div>
    </div>
</div>