<div class="container">
    <div class="row">
        <div class="col-lg-12 ">
            <h2 class="section-heading text-center">Viella</h2>
            <hr class="primary" />
            <dl class="dl-horizontal lead">
                <dt>
                    What
                </dt>
                <dd>
                    Celebrate our marriage
                </dd>
                <dt>
                    When
                </dt>
                <dd>
                    Saturday, August 19
                </dd>
                <dt>
                    Where
                </dt>
                <dd>
                    <address>
                        Chateau Viella
                        <br/>
                        <a href="https://goo.gl/maps/MtGahtk5r6fAMtSU7">Laouliérat 54 Chemin Delalariou, 32400 Viella, France</a>
                        <br/>
                    </address>
                </dd>
                <dt>
                    Attire
                </dt>
                <dd>
                    Dressy Casual
                </dd>
                <dt>
                    Transportation
                </dt>
                <dd>
                    Transportation options available upon request
                </dd>
                <dt>
                    Parking
                </dt>
                <dd>
                    Free parking is available onsite
                </dd>
            </dl>
        </div>
    </div>
</div>
