<div class="container">
    <div class="row">
        <div class="col-lg-12 ">
            <h2 class="section-heading text-center">Viella</h2>
            <hr class="primary" />
            <dl class="dl-horizontal lead">
                <dt>
                    When
                </dt>
                <dd>
                    {{ wedding_time_france }} Saturday, {{ wedding_date_france }}
                </dd>
                <dt>
                    Where
                </dt>
                <dd>
                    <address>
                        Chateau Viella
                        <br />
                        <a href="https://goo.gl/maps/MtGahtk5r6fAMtSU7">Laouliérat 54 Chemin Delalariou, 32400 Viella,
                            France</a>
                    </address>
                </dd>
                <dt>
                    Attire
                </dt>
                <dd>
                    Dressy Casual
                </dd>
                <h3>Travelling to Viella, France</h3>
                <p>Viella is located in the beautiful Ger region of southern France.</p>
                <p>
                    For those traveling into Viella, there are a number of airports to fly into.
                    We recommend arriving via either Bordeaux-Mérignac Airport (BOR) or Tarbes-Lourdes-Pyrénées Airport
                    (LDE).
                    Alternatively there is a high speed train from Paris to Bordeaux (~2 hour journey).
                    Veilla is a 2 hour drive from Bordeaux and a 1 hour drive from Lordes.
                </p>
                <p>
                    We can't wait to welcome you to the south of France! Here are a few recommendations of our favourite
                    places to
                    visit while you're here.
                <ul>
                    <li>Restaurant: <a href="https://www.ddmau.ca/chinatown">?</a></li>
                    <li>Cafe: <a href="https://electricbicyclebrewing.com/">?</a></li>
                    <li>Place for a Walk: <a href="https://en.wikipedia.org/wiki/Stanley_Park">?</a></li>
                    <li>Day trip: <a href="https://www.whistler.com/">?</a></li>
                </ul>
                </p>
                <h3>Getting to the Wedding Venue</h3>
                <p>
                    <a href="??">The Chateau Viella</a> is located on the eastern side of Viella and is walking distance
                    to the center of the village.
                </p>
                <p>
                    There is free parking available onsite.
                </p>
                <p>
                    Please do not drink and drive, plan accordingly and have a safe ride home.
                </p>
                <h3>Wedding Ceremony and Reception</h3>
                <ul>
                    <li>3:30pm | Welcome</li>
                    <li>4:00pm | We say I Do (Again)</li>
                    <li>4:30pm | We Drink</li>
                    <li>5:30pm | We Eat</li>
                    <li>7:30pm | We Party (at Anna's parents Farmhouse)</li>
                </ul>
                <p>During our Ceremony, we kindly ask you to refrain from using your phones and taking photos.
                    We ask that you truly be present in this moment with us.
                    We have a wonderful photo team and we will share the images with you following the wedding.
                    Thank you for understanding. We can't wait to celebrate with you!</p>
                <h3>Where to Stay</h3>
                <p>
                    As Viella is a village of only a couple hundred residents, most places to stay will likely be in a
                    nearby village.
                    Below is a brief list of recommendations on places to stay near (or in) Viella.
                    We are happy to answer any questions or make suggestions for individuals or groups.
                </p>
                <table class="one-color">
                    <tr>
                        <th class="col-md-2">La Villa Du Bearn</th>
                        <td>
                            La <a href="https://www.lavilladubearn.com/">Villa Du Bearn</a> is located about 16km away.
                        </td>
                    </tr>
                    <tr>
                        <th>Le Prielle</th>
                        <td>
                            <a href="http://www.leprielle.com/">Le Prielle</a> is located in Madiran.
                        </td>
                    </tr>
                    <tr>
                        <th>Hotels/Bed and Breakfasts Around Town</th>
                        <td>
                            There are a number of smaller hotels and B&B's in and around Viella.
                        </td>
                    </tr>
                    <tr>
                        <th>Vacation rentals</th>
                        <td>
                            Both <a href="https://www.vrbo.com/">VRBO</a> and <a
                                href="https://www.airbnb.com/">airbnb</a> have a number of vacation rentals in the area.
                            This is also a highly recommended and often more affordable option for those who don't mind
                            something a bit more self-service.
                        </td>
                    </tr>
                </table>
            </dl>
        </div>
    </div>
</div>