{% extends "email_templates/email_base.html" %}
{% load static %}
{% block header_image %}
{% endblock header_image %}
{% block lead_copy %}
<table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
    <tbody>
        <tr>
            <td style="padding: 20px 0 0 0;
                           font-size: 16px;
                           line-height: 20px;
                           font-family: Helvetica, Arial, sans-serif;
                           color: #ff5c3e" class="padding-copy" align="center">
                Hi friends!
                <br />
            </td>
        </tr>
    </tbody>
</table>
{% endblock lead_copy %}

{% block main_copy %}
<br>
<p>
    We're excited to see you this Saturday August 19th in Viella France!
</p>
<p>
    Here's a quick update on what's happening on the day:
    <ul>
        <li>4:00pm | Meet at <a href="https://www.chateauviella.fr/">The Chateau Viella</a> for pre-dinner drinks</li>
        <li>5:00pm | Dinner at the Chateau</li>
        <li>7:30pm | Leave the Chateau and head to Anna's parents house</li>
        <li>8:00pm | Party at Anna's parents house until late</li>
    </ul>
</p>
<p>
    We've got a local taxi that can drop people back off from 3AM onwards.
</p>
<p>
    - Anna and Clark
</p>

{% endblock main_copy %}
{% block footer_content %}
<br />
{% if email_mode %}

{% endif %}
{% endblock footer_content %}